<h1>Teams</h1>


<% @teams.each do |team| %>
  <div class="">
    <h2><a href="/teams/<%= team.id %>"><%= team.name %></a></h2>
    <% team.players.each do |player| %>
    <ul>
      <li>
        <a href="/players/<%= player.id %>"><%= player.name %></a>
      </li>
    </ul>
    <% end %>
  </div>
<% end %>
