<div class="jumbotron">
  <h1>Dee Park Basketball League</h1> 
  <p></p> 
</div>
<div class="panel panel-default">
  <div class="panel-heading">League Welcome</div>
  <div class="panel-body">
    <p>
        Welcome to the official web site of the Dee Park Basketball League (DPBL). We established this league in Spring 1998 based on a group of friends who were a part of the student organization Asian American Students In Alliance (AASIA) at the University of Illinois at Chicago (UIC). Many of us had played intramural basketball for several years and with so many of us graduating and moving on the DPBL allowed us to keep in touch as well as to continue playing basketball. The league continued until operations ceased in December 2003. We re-launched in summer of 2010 and are in the midst of our Spring 2017 season. Thank you for your interest and we hope you follow the action throughout the season on this web site.
    </p>
    <p class="sign-off">
      Sincerely, 
      <br><br>
      <img src="https://scontent.ford1-1.fna.fbcdn.net/v/t31.0-8/23456221_10155847563752964_3033641402298580298_o.jpg?oh=5582bc478a825546f0e9f6f6f7c6a90c&oe=5A9BD64E">
      <br><br>
      Jason Marcus Waak <br>
      Commissioner and Founder of the DPBL
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Dave "Sub-Zero" Johnson</div>
  <div class="panel-body">
    <p>
      An original member of the Dee Park Basketball League, Dave Johnson was taken from us suddenly in August 2010. He was a friend to all with an infectious smile often heard yelling, "Who authorized that?" after some ill advised three point shot was taken. He picked up the nickname "Sub-Zero" as he tended to stay in ball games for extended periods. A solid rebounder who looked to distribute the ball he could also score in bunches. By far his most long lasting effect upon many of us is the long standing friendships he built with so many of us. It was an honor and blessing to call you friend, brother and teammate. You cast a giant shadow Dave, I am so glad we share the hope of heaven! 
    </p>
    <br>
    <div class="subzero">
    <img src="https://scontent.ford1-1.fna.fbcdn.net/v/t1.0-9/18486123_10155299760107964_7083785234559370609_n.jpg?oh=87f4c706f09fc6a9e4d706372ce44781&oe=5A9ACBA7" class="img-responsive center-block">
    <br>
      <p>Dave Allen Johnson 30 August 1971 - 19 August 2010 </p>
    </div>
  </div>
</div>