<div class="panel panel-default">
  <div class="panel-heading" style="font-size: 40px;">Seasons</div>
  <% if current_player && current_player.commissioner %>
    <a href="/seasons/new" style="text-align:center; display: block;">Start a new Season</a>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-bordered">
      <tr>
        <th class="col-md-1">Season</th>
        <th class="col-md-1">Year</th>
      </tr>
      <% @seasons.each do |season| %>
      <tr>
        <th><a href="/seasons/<%= season.id %>"><%= season.quarter %></th>
        <th><a href="/seasons/<%= season.id %>"><%= season.year %></th>
      </tr>
      <% end %>
    </table>
</div>

