<h1>Create Season</h1>

<%= form_tag "/seasons", method: :post do %>
  <div class="season">
    Quarter: <input type="text" name="quarter">
  </div>
  <div class="season">
    Year: <input type="text" name="year">
  </div>
  <br>
  <input type="submit" value="Create Season" class="btn btn-inverse btn-primary" >
<% end %>