<h1>New Game</h1>

<%= form_tag "/games/#{@game.id}", method: :patch do %>
  <div>
    Team Stats For:
    <select name="team_id">
        <% @teams.each do |team| %>
          <option value=" <%= team.id %>" <%= 'selected="selected"' if team.id == @game.team_id %>>
            <%= team.name %>
          </option>
        <% end %>
    </select>
  </div>
  <div>
    Week: <input type="text" name="week">
  </div>
  <div>
    Scorer: <input type="text" name="scorer">
  </div>
  <input type="submit" value="Update Game Info">  
<% end %>