<h1>Active Players</h1>

<% @players.order(:name).each do |player| %>
  <h3><a href="/players/<%= player.id %>"><%= player.name %></a></h3>
<% end %>
<br>

<% if current_player && current_player.commissioner %>
  <a href="/players/new">Add New Player</a>
<% end %>
