<div class="panel panel-default">
  <div class="panel-heading" style="font-size: 50px;">Dee League Active Players</div>
  <% if current_player && current_player.commissioner %>
    <a href="/players/new" style="text-align:center; display: block; font-size: 20px">Add New Player</a>
  <% end %>
</div>


<div class="panel panel-group">
  <div class="panel-body" style="font-size: 25px;">
    <table class="table table-bordered">
      <% @players.order(:name).each do |player|  %>
        <tr>
          <th style="font-size: 20px;"><a href="/players/<%= player.id %>"><%= player.name %></a></th>
        </tr>
      <% end %>
    </table>
  </div>
</div>
