<h1>New Player</h1>

<%= form_tag '/players', method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Team: 
    <select name="team_id" >
      <% @teams.each do |team| %>
        <option value="<%= team.id %>" <%= 'selected="selected"' if team.id == @player.team_id%>><%= team.name %></option>         
      <% end %>
    </select>
  </div>
  <div>
    Commissioner: 
    <select name="commissioner" >
      <option value="false" selected="selected">Not a Commissioner</option> 
      <option value="true">Commissioner</option>     
    </select>
  </div>
  <div>
    Captain: 
    <select name="captain" >
      <option value="false" selected="selected">Not a Captain</option> 
      <option value="true">Captain</option>     
    </select>
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <div>
    Password Confirmation: <input type="password" name="password_confirmation">
  </div>
  <br>
  <input type="submit" value="Add New Player">
<% end %>