.container-fluid input{
  height: 25px;
  width: 40px;
  // margin-left: 25px;
  // display: block;
  float: right;
}

.container-fluid name{
  text-align: right;
}

.stats_submit {
  float: right;
}

.table th {
  text-align: center;
}

