<h1>Create Stat Sheets</h1>

<div id="app">
  {{message}}

<!--   <section>
    <div v-for="team in teams">
      <h1>Team: {{team.team_name}}</h1>
      <div v-for="player in team.players">
        {{player.name}}
      </div>
    </div>
  </section> -->

  <div v-for="player in players">
    {{player.name}}
  </div>
    

</div>