<h1><%= @stat.game.team.name %></h1>

<% @players.each do |player| %>
  <%= player.name %>
  <br>
<% end %>

<%= link_to "Delete Stats", "/stats/#{ @stat.id }", method: :delete, class: "btn btn-danger" %>

